<%= form_for occupation, remote:true do |f| %>
  <!-- Modal Header -->
  <%= render 'shared/modal_header', title: "#{occupation.new_record? ? 'Add Occupation' : 'Edit Occupation'}" %>

  <!-- Modal body -->
  <div class="modal-body">
    <div class="form_input_fields pl-2 pr-2">

      <div class="form-group">
        <%= f.select :name, Occupation::names.map { |k, v| [k.humanize, k] }, {prompt: 'Occupation*'}, required: true, class: 'form-control sign_up-input-field',
                     data: {toggle:'tooltip', placement:'top'}, title:'Occupation', id: 'occupation_name' %>
        <small class="text-danger"> <%= f.object.errors[:occupation_name].present? ? "Occupation* #{f.object.errors[:occupation_name]&.first}" : '' %> </small>
      </div>

      <div class="form-group required_for_working">
        <%= f.select :organization, options_for_select(Organization.order(:name).pluck(:name, :id), selected: Organization.get_organization(occupation.organization)&.id),
                     {prompt: 'Organization*'}, required: true, class: 'form-control sign_up-input-field', data: {toggle:'tooltip', placement:'top'}, title:'Organization' %>
        <small class="text-danger"> <%= f.object.errors[:designation].present? ? "Organization #{f.object.errors[:designation]&.first}" : '' %> </small>
      </div>

      <div class="form-group required_for_working">
        <%= f.select :employment_status, Occupation::employment_statuses.sort_by { |k, v| k }.to_h.map { |k, v| [k.humanize, k] },
                     {prompt: 'Employment Status*'}, required: true, class: 'form-control sign_up-input-field', data: {toggle:'tooltip', placement:'top'}, title:'Employment Status*' %>
        <small class="text-danger"> <%= f.object.errors[:employment_status].present? ? "Employment Status* #{f.object.errors[:employment_status]&.first}" : '' %> </small>
      </div>

      <div class="form-group required_for_working">
        <%= f.text_field :company_name,
                         required: true,
                         placeholder: 'Company Name*',
                         class: 'form-control sign_up-input-field',
                         data: {toggle:'tooltip', placement:'top'}, title:'Company Name*' %>
        <small class="text-danger"> <%= f.object.errors[:company_name].present? ? "Company Name #{f.object.errors[:company_name]&.first}" : '' %> </small>
      </div>

      <div class="form-group required_for_working">
        <%= f.text_field :designation,
                         required: true,
                         placeholder: 'Designation*',
                         class: 'form-control sign_up-input-field',
                     data: {toggle:'tooltip', placement:'top'}, title:'Designation*' %>
        <small class="text-danger"> <%= f.object.errors[:designation].present? ? "Designation #{f.object.errors[:designation]&.first}" : '' %> </small>
      </div>

      <div class="form-group required_for_working">
        <%= f.select :monthly_income, Occupation::monthly_incomes.map { |k, v| [k.humanize, k] },
                     {prompt: 'Monthly Income*'},
                     required: true, class: 'form-control sign_up-input-field',
                     data: {toggle:'tooltip', placement:'top'}, title:'Monthly Income*' %>
        <small class="text-danger"> <%= f.object.errors[:monthly_income].present? ? "Monthly Income* #{f.object.errors[:monthly_income]&.first}" : '' %> </small>
      </div>

      <div class="form-group required_for_working">
        <div class=" d-flex flex-row">
          <div class="flex-fill pr-1">
            <%= f.date_field :start_date, max: Date.today,
                             autofocus: true,
                             autocomplete: "start_date",
                             class: 'form-control sign_up-input-field',
                             placeholder: 'Start Date*', required: true,
                             data: {toggle:'tooltip', placement:'top'}, title:'Start Date*' %>
            <small class="text-danger"> <%= f.object.errors[:start_date].present? ? "Start Date #{f.object.errors[:start_date]&.first}" : '' %> </small>
          </div>
          <div class="flex-fill pl-1" id="occupation_end_date">
            <%= f.date_field :end_date, max: Date.today,
                             autofocus: true,
                             autocomplete: "end_date",
                             class: 'form-control sign_up-input-field',
                             data: {toggle:'tooltip', placement:'top'}, title:'End Date*' %>
            <small class="text-danger"> <%= f.object.errors[:end_date].present? ? "End Date #{f.object.errors[:end_date]&.first}" : '' %> </small>
          </div>
        </div>
      </div>

      <div class="required_for_working">
        <%= f.check_box :working_currently, id: 'working_currently_checkbox' %>
        <%= f.label :working_currently %>
      </div>
    </div>
  </div>

  <script type="text/javascript" charset="utf-8">
      $(function () {
          function check_occupation_name() {
              if($('#occupation_name')[0].value === "not_working") {
                  $('.required_for_working select, .required_for_working input').attr('required', false);
                  $('.required_for_working').hide();
              }
              else {
                  $('.required_for_working').show();
                  $('.required_for_working select, .required_for_working input').attr('required', true);
              }
          }

          function check_currently_working() {
              if($('#working_currently_checkbox')[0].checked) {
                  $('#occupation_end_date input').attr('required', false);
                  $('#occupation_end_date').hide();
              }
              else {
                  $('#occupation_end_date').show();
                  $('#occupation_end_date input').attr('required', true);
              }
          }

          $('#occupation_name').change(check_occupation_name);
          $('#working_currently_checkbox').change(check_currently_working);
          check_occupation_name();
          check_currently_working();
      });
  </script>

  <!-- Modal footer -->
  <%= render 'shared/modal_footer', f: f %>
<% end %>