<div class="notification-box m-2 p-1 pb-3 <%= 'notification-unread' unless notification.is_read? %>"
     data-mark-url="<%= mark_notification_read_users_path(notification_id: notification.id) %>"
     data-notification-id="<%= notification.id %>"
     data-pinned="<%= local_assigns[:pinned] ? 'true' : 'false' %>"
     onclick="markNotificationRead(this)">
  <div class="content d-flex align-items-start p-2">
    <span class="notification-bullet"></span>
    <div class="flex-fill">
      <%= raw(notification.content) %>
    </div>
  </div>
</div>
