<%= form_for @user, url: update_password_user_path(@user), method: :patch do |f| %>
  <!-- Modal Header -->
  <%= render 'shared/modal_header', title: "Change Password" %>

  <!-- Modal body -->
  <div class="modal-body">
    <div class="form_input_fields pl-2 pr-2">

      <div class="form-group">
        <%= f.password_field :current_password,
                             autofocus: true,
                             class: 'form-control sign_up-input-field',
                             placeholder: 'Current Password*',
                             required: true,
                             data: {toggle: "tooltip", placement: "top"},
                             title: "We need your current password to confirm your changes" %>
      </div>

      <div class="form-group">
        <%= f.password_field :password,
                             minlength: '6',
                             maxlength: '20',
                             pattern: "(?=.*[a-z])(?=.*[A-Z]).{6,}",
                             autofocus: true,
                             autocomplete: "password",
                             class: 'form-control sign_up-input-field',
                             placeholder: 'New Password*',
                             required: true,
                             data: {toggle: "tooltip", placement: "top"},
                             title: "Must have at least 6 characters including 1 uppercase and lowercase letter,
                            1 number, 1 special character."
        %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
      </div>

      <div class="form-groupx">
        <%= f.password_field :password_confirmation,
                             autocomplete: "off",
                             class: 'form-control sign_up-input-field',
                             placeholder: 'Confirm New Password*',
                             required: true,
                             data: {toggle: "tooltip", placement: "top"},
                             title: "Confirm New Password*" %>
      </div>

    </div>
  </div>

  <!-- Modal footer -->
  <%= render 'shared/modal_footer', f: f %>
<% end %>