<div class="container mt-5">
  <div class="basic_info">
    <div class="basic-info-mandala">
      <%= image_tag 'mandala.svg', class: 'img-responsive' %>
    </div>
    <div class="d-flex flex-column align-items-center">
      <div class="form_title align-self-start pt-3 pl-2 pr-2">
        <strong>Phone number verification</strong> <br>
        <%= image_tag 'yellow_line.svg', width: '51.59', height: '17' %>
      </div>
      <div class="form_input_fields pt-4 pl-2 pr-2">
        <p>
          Verification code has been sent to your mobile <%= "#{@user.phone_number[0...3]}.....#{@user.phone_number[-2..-1]}" %>.
        </p>
        <%= form_tag verify_user_path(@user) do %>
          <div class="form-group">
            <%= label_tag :token, "Verification Code:" %>
            <%= text_field_tag :token, '', class: "form-control", placeholder:'Verification code ' %>
          </div>
          <button type="submit" class="btn btn-primary">Verify</button>
          <%= link_to 'Resend', resend_user_path(@user), method: :post %>
        <% end -%>
      </div>
    </div>
  </div>
</div>
