<section class=" section_3 container-fluid p-0">
    <div class="feature_packages">
      <div class="container text-center">
        <div class="heading">
          <h4 class=""> Find Your Special Someone </h4>
          <div class="">
          <%= image_tag 'yellow_line.svg' %>
          </div>
        </div>
        <div class="d-sm-flex flex-sm-row align-items-sm-center">
            <div class="p-2 flex-fill">
              <div class="package-icon pb-3">
                <%= image_tag 'packages/connect_icon.svg', width:'110', height:'110', class: 'img-responsive' %>
              </div>
              <div class="package-title">
                <strong>
                  Connect
                </strong>
              </div>
              <div class="package-content">
               <span class="text-gray">
                 Register for free and complete your profile
               </span>
              </div>
            </div>
            <div class="p-2 flex-fill">
              <div class="package-icon pb-3">
                <%= image_tag 'packages/choose_icon.svg', width:'110', height:'110', class: 'img-responsive' %>
              </div>
              <div class="package-title">
                <strong>
                  Choose
                </strong>
              </div>
              <div class="package-content">
               <span class="text-gray">
                 Filter, view, and select matches that you like
               </span>
              </div>
            </div>
            <div class="p-2 flex-fill">
              <div class="package-icon pb-3">
                <%= image_tag 'packages/communicate_icon.svg', width:'110', height:'110', class: 'img-responsive' %>
              </div>
              <div class="package-title">
                <strong>
                  Communicate
                </strong>
              </div>
              <div class="package-content">
               <span class="text-gray">
                 Start a Conversation and Get to Know Each Other
               </span>
              </div>
            </div>
            <div class="p-2 flex-fill">
              <div class="package-icon pb-3">
                <%= image_tag 'packages/cherish_icon.svg', width:'110', height:'110', class: 'img-responsive' %>
              </div>
              <div class="package-title">
                <strong>
                  Cherish
                </strong>
              </div>
              <div class="package-content">
               <span class="text-gray">
                 Find all wedding vendors and special offers!
               </span>
              </div>
            </div>
        </div>
      </div>
    </div>
</section>