<%= render 'shared/profile_photo', profile: marriage_profile %>
<% if marriage_profile.present? && current_active_profile.present? && marriage_profile.id == current_active_profile.id %>
  <%= form_for current_active_profile,
               url: change_profile_marriage_profile_path(current_active_profile),
               method: :patch,
               html: {class: 'js-change-image'},
               remote: true do |f| %>
    <div class="camera-icon-area">
      <i class="fa fa-camera profile-photo-upload" style="cursor:pointer;" title="Change photo"></i>
      <%= f.file_field :profile_image, id:'js-profile-image-upload', class: 'profile-input-field js-profile-image', style: 'display:none' %>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <%= f.submit class: 'd-none js-submit' %>
    </div>
  <% end %>
<% end %>
<%= render 'shared/image_cropping_modal' %>
<script type="text/javascript" charset="utf-8">
  $(function () {
    $('.profile-photo-upload').on('click', function () {
      $('#js-profile-image-upload').trigger('click');
    });
    $('.js-profile-image').change(function () {
      $(".js-submit").click();
    });
  });
</script>
