<!DOCTYPE html>
<html>
<head>
  <title>Bolokobul – Matchmaking for Bangladeshis Worldwide</title>
  <meta name="description" content="Discover love with Bolo Kobul – the modern matchmaking platform for Bangladeshis around the world, blending preferences, privacy, and cultural values.">
  <meta name="keywords" content="Bolo Kobul, Bolokobul, matchmaking, Bangladesh, wedding, partner search, privacy, cultural values">

  <!-- Open Graph for social sharing -->
  <meta property="og:title" content="Bolokobul – Matchmaking for Bangladeshis Worldwide">
  <meta property="og:description" content="Discover love with Bolo Kobul – the modern matchmaking platform for Bangladeshis around the world, blending preferences, privacy, and cultural values.">
  <meta property="og:url" content="https://bolokobul.com">
  <meta property="og:image" content="https://bolokobul.com/assets/og-image.jpg">

  <!-- Structured Data for Google -->
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "WebSite",
    "name": "Bolokobul",
    "url": "https://bolokobul.com",
    "description": "Discover love with Bolo Kobul – the modern matchmaking platform for Bangladeshis around the world, blending preferences, privacy, and cultural values."
  }
  </script>

  <%= favicon_link_tag 'bk.png' %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Google Analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-163228777-1', 'auto');
    ga('send', 'pageview');
  </script>
  <!-- End Google Analytics -->

  <!-- Font Awesome (moved up for proper icon rendering) -->
  <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css', rel: 'stylesheet', crossorigin: 'anonymous', referrerpolicy: 'no-referrer' %>

  <!-- Application styles and scripts -->
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': true %>

  <!-- Preload fonts -->
  <%= preload_link_tag 'Roboto-Black.ttf' %>
  <%= preload_link_tag 'Roboto-Bold.ttf' %>
  <%= preload_link_tag 'Roboto-Light.ttf' %>
  <%= preload_link_tag 'Roboto-Medium.ttf' %>
  <%= preload_link_tag 'Roboto-Regular.ttf' %>
  <%= preload_link_tag 'Roboto-Thin.ttf' %>
  <%= preload_link_tag 'Lobster-Regular.ttf' %>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- Slick carousel styles -->
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css"/>
</head>

<body class="body_bg" data-l>
  <script async defer src="https://connect.facebook.net/en_US/sdk.js"></script>

  <%= render 'shared/flash_message' %>
  <%= render 'shared/animation' %>
  <%= render 'shared/header' %>